parameters:
  level: 5
  paths:
    - coreapp
    - public
  bootstrapFiles:
    - phpstan-bootstrap.php
  ignoreErrors:
    # Ignore dynamic property access patterns in PHPWeave framework
    - '#Call to an undefined method#'
    - '#Access to an undefined property#'
    # Ignore unused properties that are part of the framework's internal state
    - '#Static property .+::\$jobsDir is never read, only written#'
    - '#Static property .+::\$instances is never read, only written#'
    - '#Static property .+::\$loadedFromCache is never read, only written#'
    # Ignore legacy parameter type issue in DBConnection (backward compatibility)
    - '#Default value of the parameter .+ of method DBConnection::executePreparedSQL\(\) is incompatible with type#'
  treatPhpDocTypesAsCertain: false