parameters:
  level: 5
  paths:
    - coreapp
    - public
  excludePaths:
    - tests/*
  bootstrapFiles:
    - phpstan-bootstrap.php
  ignoreErrors:
    # Ignore unused properties that are part of the framework's internal state
    - '#Static property .+::\$jobsDir is never read, only written#'
    - '#Static property .+::\$loadedFromCache is never read, only written#'
    # Hook::$halted can be set to true via callback execution (PHPStan cannot track indirect modification)
    -
      message: '#If condition is always false#'
      path: coreapp/hooks.php
      count: 1
    # Factory::new() uses new static() intentionally (abstract factory pattern)
    -
      message: '#Instantiated class Factory is abstract#'
      path: coreapp/factory.php
      count: 1
  treatPhpDocTypesAsCertain: false