parameters:
  level: 5
  paths:
    - coreapp
    - public
  bootstrapFiles:
    - phpstan-bootstrap.php
  ignoreErrors:
    # Ignore unused properties that are part of the framework's internal state
    - '#Static property .+::\$jobsDir is never read, only written#'
    - '#Static property .+::\$loadedFromCache is never read, only written#'
  treatPhpDocTypesAsCertain: false